^{:watch-dirs ["test" "src"]
  :css-dirs ["resources/public/css"]
  :auto-testing true}
{:main hello-hdom.core
 :compiler-options {:externs      ["externs/hdom-extern.js"]
                    :foreign-libs [{:file     "foreign/hdom.js"
                                    :provides ["hdom"]}]}}
